#carouselHome {
    //margin-top: .5rem;
  // .carousel-indicators{

  // }
  .carousel-inner {
    .carousel-item {
      max-height: 40rem;
      .container-img {
        width: 100%;
        height: auto;
      }
    }
  }
  // .carousel-control-prev{

  // }
  // .carousel-control-next{

  // }
}
